{% extends "layouts/base-fullscreen.html" %}

{% block title %} Proposal Details {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
.title-section{
  background-color: #3D4787;
}
.title-content{
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  padding: 15px
}
.body-section{
  padding: 15px
}
.body-section p{
  font-size: 18px;
}
.body-section ul {
  padding: 0 20px;
}

.body-section li {
  margin-bottom: 10px; 
  font-size: 18px;
}
</style>
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10"></h5>
                            </div>
                            {% comment %} <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Sample Page</a></li>
                            </ul> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="card col-sm-10 mx-auto" >
                        <div class="card-body">

                          <div>
                            <div style="width: 300px; margin-bottom: 10px" class="title-section">
                                <h6 style="padding: 100px 0px 20px 20px; font-size: 20px" class="card-title title-content">Private and Confidential</h6>
                            </div>
                            <div style="width: 500px; margin-bottom: 10px">
                                <h6 style="color: #181C42; font-size: 20px; font-weight: bold" class="card-title">Date of Submission</h6>
                                <p style="color: #181C42; font-size: 20px" class="card-title">2/1/2024</p>
                            </div>
                            <div style="width: 300px; margin-bottom: 10px" class="title-section">
                              <h6 style="padding: 12px 0px 20px 20px; font-size: 20px" class="card-title title-content">Proposed by</h6>
                            </div>
                            <div style="margin-bottom: 10px text-align: center; margin-left:250px; font-size=30px;" >
                              <h6 style="color: #181C42;padding: 0px 0px 20px 20px; font-size: 25px" class="card-title"><span>Name: </span>Rahul Paul</h6>
                              <h6 style="color: #181C42;padding: 0px 0px 20px 20px; font-size: 25px" class="card-title"><span>Address: </span>Gulshan 1</h6>
                              <h6 style="color: #181C42;padding: 0px 0px 20px 20px; font-size: 25px" class="card-title"><span>Phone Number: </span>0173647463</h6>
                              <h6 style="color: #181C42;padding: 0px 0px 20px 20px; font-size: 25px" class="card-title"><span>Email: </span>demo@gmail.com</h6>
                            </div>
                            <div style="width: 300px; margin-bottom: 10px" class="title-section">
                              <h6 style="padding: 12px 0px 20px 20px; font-size: 20px" class="card-title title-content">To</h6>
                            </div>
                            <div style="margin-bottom: 10px text-align: center; margin-left:250px" >
                              <h6 style="color: #181C42;padding: 0px 0px 20px 20px; font-size: 25px" class="card-title"><span>Name: </span> Rahul Paul</h6>
                              <h6 style="color: #181C42;padding: 0px 0px 20px 20px; font-size: 25px" class="card-title"><span>Address: </span> Gulshan 1</h6>
                              <h6 style="color: #181C42;padding: 0px 0px 20px 20px; font-size: 25px" class="card-title"><span>Phone Number: </span> 0173647463</h6>
                              <h6 style="color: #181C42;padding: 0px 0px 20px 20px; font-size: 25px" class="card-title"><span>Email: </span> demo@gmail.com</h6>
                            </div>
                          </div>

                          <div>
                            <div class="title-section">
                                <h5 class="card-title title-content">Project Title</h5>
                            </div>
                            <div class="body-section">
                                <p>Project Title: <span>Your Project Title Here</span></p>
                            </div>
                          </div>

                          <div>
                            <div class="title-section">
                                <h5 class="card-title title-content">Project Overview</h5>
                            </div>
                            <div class="body-section">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                          </div>

                          <div>
                            <div class="title-section">
                                <h5 class="card-title title-content">Objectives</h5>
                            </div>
                            <div class="body-section">
                              <ul>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                                <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                                <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                                <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                            </ul>
                            </div>
                          </div>

                          <div>
                            <div class="title-section">
                                <h5 class="card-title title-content">Scope of Work</h5>
                            </div>
                            <div class="body-section">
                              <ul>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                                <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                                <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                                <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                            </ul>
                            </div>
                          </div>

                          <div>
                            <div class="title-section">
                                <h5 class="card-title title-content">Project Requirements</h5>
                            </div>
                            <div class="body-section">
                              <ul>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                                <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                                <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                                <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                              </ul>
                            </div>
                          </div>

                          <div>
                            <div class="title-section">
                                <h5 class="card-title title-content">Tools and Technologies</h5>
                            </div>
                            <div class="body-section">
                              <ul style="list-style-type: decimal;">
                                <li><span style="font-weight: bold">Front-End: </span>HTML, CSS, Bootstrap</li>
                                <li><span style="font-weight: bold">Back-End: </span>PHP</li>
                                <li><span style="font-weight: bold">Database: </span>PostgreSql</li>
                            </ul>
                            </div>
                          </div>

                          <div>
                            <div class="title-section">
                                <h5 class="card-title title-content">Technical Implementation (Methodology)</h5>
                            </div>
                            <div class="body-section">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> 
                            </div>
                          </div>

                          <div>
                            <div class="title-section">
                                <h5 class="card-title title-content" >Timeline</h5>
                            </div>
                            <div class="body-section">
                               <p>Below you can find the details of our team that will work within the scope of the Project;
                               </p>
                               <table class="table table-sm table-striped table-hover">
                                <thead class="table-light">
                                  <tr>
                                    <th scope="col">Phase</th>
                                    <th scope="col">Duration</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>UI design and development</td>
                                    <td>2 months</td>
                                  </tr>
                                  <tr>
                                    <td>Algorithm implementation and integration</td>
                                    <td>3 months</td>
                                  </tr>
                                  <tr>
                                    <td>Database setup and customization</td>
                                    <td>1 month</td>
                                  </tr>
                                  <tr>
                                    <td>Testing and debugging</td>
                                    <td>2 months</td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>

                          <div>
                            <div class="title-section">
                                <h5 class="card-title title-content">Proposed Team Members</h5>
                            </div>
                            <div class="body-section">
                               <p>Below you can find the details of our team that will work within the scope of the Project;
                               </p>
                               <table class="table table-sm table-striped table-hover">
                                <thead class="table-light">
                                  <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Assignment</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Rahul Paul</td>
                                    <td>Web Designer</td>
                                    <td>UI</td>
                                  </tr>
                                  <tr>
                                    <td>Rahul Paul</td>
                                    <td>Web Designer</td>
                                    <td>UI</td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">Rahul Paul</td>
                                    <td>UI</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                         </div>

                         
                           

                            <div>
                                <div class="title-section">
                                    <h5 class="card-title title-content">Resources and Budget</h5>
                                </div>
                                <div class="body-section">
                                   <p style="font-size: 18px;">Resources and budget are as shown in the table below. In case of a situation requiring additional cost within the scope of the Project, Client will be informed in writing including the details of the cost. Without the written consent of the Client, no transaction can be made.
                                   </p>
                                   <table class="table table-sm table-striped table-hover">
                                    <thead class="table-light">
                                      <tr>
                                        <th scope="col">Resource</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Computer</td>
                                        <td>2</td>
                                        <td>170000</td>
                                      </tr>
                                      <tr>
                                        <td>Computer</td>
                                        <td>3</td>
                                        <td>170000</td>
                                      </tr>
                                      <tr>
                                        <td>Computer</td>
                                        <td>3</td>
                                        <td>170000</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h5>Total Budget: $1293783  (Including Tax)</h5>
                                </div>
                            </div>

                            <div>
                              <div class="title-section">
                                  <h5 class="card-title title-content">Ethical Consideration</h5>
                              </div>
                              <div class="body-section">
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> 
                               </div>
                            </div>

                            <div>
                              <div class="title-section">
                                  <h5 class="card-title title-content">Terms and Conditions</h5>
                              </div>
                              <div class="body-section">
                                <ul>
                                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                                  <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                                  <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                                  <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                                </ul>
                               </div>
                            </div>

                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
