{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title" style="display: flex; justify-content: space-between; align-items: center;">
                            <h4 class="m-b-10">Proposal List</h4>
                            <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip"><a href="{% url 'createproposals'%}" style="color: white">Create Propsal</a></button>
                        </div>
                        {% comment %} <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12 col-md-6">
                        <div class="card Recent-Users">
                            <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                                <div style="display: flex;">
                                    {% comment %} <h5>Proposals</h5> {% endcomment %}
                                    <div class="form-group" style="height: 10px; width: 80px">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>10</option>
                                            <option>20</option>
                                            <option>30</option>
                                
                                        </select>
                                    </div>
                                </div>
                                <div style="display: flex;">
                                    <div>
                                        <a href="path/to/download/pdf" download>
                                            <i class="fas fa-solid fa-file-pdf" style="color: #990a11; font-size: 40px;"></i>
                                        </a>
                                    </div>
                                    <div style="margin-left: 10px">
                                        <a href="path/to/download/pdf" download>
                                            <i class="fas fa-solid fa-file-excel" style="color: #7ec48c; font-size: 40px;"></i> 
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" id="icon-search" class="form-control " placeholder="search . . ">
                                </div>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="proposalTable">
                                        <thead>
                                            <tr>
                                                <th>SL. No</th>
                                                {% comment %} <th>Logo</th> {% endcomment %}
                                                <th>Category</th>
                                                <th>Title</th>
                                                <th>Budget</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for proposal in proposals %}
                                            <tr class="unread">
                                                <td><h6 class="mb-1">{{ proposal.Proposal_Id }}</h6></td>
                                                {% comment %} <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user"></td> {% endcomment %}
                                                <td>
                                                    <h6 class="mb-1">{{ proposal.Category }}</h6>
                                            
                                                </td>
                                                <td>
                                                    <h6 class="text-muted"></i>{{ proposal.Title }}</h6>
                                                </td>
                                                <td><h6 class="mb-1">{{ proposal.Budget }}</h6></td>  
                                                {% if proposal.Status == 1 %}                                         
                                                <td>
                                                    <h6 class="m-0 text-c-green">Completed</h6>
                                                </td>
                                                {% elif proposal.Status == 0 %}
                                                <td>
                                                    <h6 class="m-0 text-c-red">Incomplete</h6>
                                                </td>
                                                {% endif %}
                                                <td><a href="{% url 'proposaldetailsview' %}" class="label theme-bg2 text-white f-12" data-id="1">View</a><a href="{% url 'updateproposal' %}" class="label theme-bg text-white f-12">Edit</a><a href="{% url 'updateproposal' %}" class="label theme-bg2 text-white f-12">Delete</a></td>
                                            </tr>
                
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% comment %} <div class="col-xl-12">
    <div class="">
        <div class="card-body">
            <nav aria-label="..." class="d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    <li class="page-item"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item active"><span class="page-link">2<span class="sr-only">(current)</span></span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div> {% endcomment %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var searchInput = document.getElementById('icon-search');
        var proposalTable = document.getElementById('proposalTable');
        var rows = proposalTable.getElementsByTagName('tr');

        searchInput.addEventListener('input', function () {
            var searchTerm = searchInput.value.toLowerCase();

            for (var i = 1; i < rows.length; i++) { // Start from 1 to skip the header row
                var titleCell = rows[i].getElementsByTagName('td')[2]; // Assuming the title is in the third column

                if (titleCell) {
                    var titleText = titleCell.textContent.toLowerCase();

                    if (titleText.includes(searchTerm)) {
                        rows[i].style.display = '';
                    } else {
                        rows[i].style.display = 'none';
                    }
                }
            }
        });
    });
</script>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
